{% extends 'carrot/site_base.html' %}
{% load humanize %}
{% load gravatar %}
{% load thumbnail %}

{% block title %}
  {% if new %}
  New ticket
  {% else %}
  Edit #{{ ticket.number }}
  {% endif %} | Carrot
{% endblock %}

{% block bodyclass %}ticket-edit{% endblock %}
{% block content %}
    <form class="ticket-form aform{% if new %} new{% endif %}" method="post" enctype="multipart/form-data">
    <h1>
      {% if new %}
      New ticket
      {% else %}
      #{{ ticket.number }}
      {% endif %}
    </h1>
    {% csrf_token %}
    {{ ticket_form.as_div }}
    <div class="buttons">
    <button class="btn btn-primary" name="action" value="save">Save</button>
    <button class="btn" name="action" value="cancel">Cancel</button>
    </div>
    </form>
{% endblock %}