{% extends 'carrot/site_base.html' %}
{% load humanize %}
{% load gravatar %}
{% load thumbnail %}

{% block title %}#{{ ticket.number }} | Carrot {% endblock %}

{% block bodyclass %}ticket{% endblock %}
{% block content %}
    <div class="row">
      <h1>{% if ticket.kind = 'bug' %}<i class="label kind_bug">bug</i> {% endif %}#{{ ticket.number }} {{ ticket.summary }}</h1>
    </div>

    <div class="row">
      <div class="ninecol">
        <div class="actions">
          <form method="post">
          {% csrf_token %}
          {% for action, description in actions.items %}
          <button class="btn btn-{{ action }}" name="action" value="{{ action }}">{{ description.name }}</button>
          {% endfor %}
          </form>
        </div>
        <div class="author-when">
          <span class="author"><img src="{% gravatar_for_user user size=40 %}">{{ ticket.reporter.get_full_name }}</span>
          <span class="posted">{{ ticket.created|naturaltime }}</span>
        </div>
        <div class="description">
          {{ ticket.description|urlize|linebreaks }}
        </div>
        <ul class="files">
          {% for file in files %}
          <li class="file f{{ file.kind }}"><a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a>
            <!--<span class="date">{{ file.created|date:"d.m.Y" }}</span>-->
          </li>
          {% endfor %}
        </ul>
        <ul class="images">
          {% for file in images %}
          <li class="image"><a href="{{ file.file.url }}" target="_blank">{% thumbnail file.file.path "150x150" upscale=True as img %}<div class="img"><img src="{{ img.url }}"></div>{% endthumbnail %}{{ file.name }}</a>
            <!--<span class="date">{{ file.created|date:"d.m.Y" }}</span>-->
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="threecol last info-block">
        <a class="btn btn-edit btn-small" href="./edit">Edit</a>
        <dl class="dl-horizontal info">
          <dt>Project</dt><dd>{{ ticket.project.full_name }}</dd>
          <dt>Version</dt><dd>{{ ticket.fix_version.name }}</dd>
          <dt>Status</dt><dd>{{ ticket.get_status_display }}</dd>
          <dt>Reporter</dt><dd>{{ ticket.reporter.get_full_name }}</dd>
          <dt>Assignee</dt><dd>{{ ticket.assignee.get_full_name }}</dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="ninecol">
        <ul class="comments">
          {% for c in comments %}
          <li id="c{{ c.pk }}" class="kind-{{ c.kind }}">
            {% if c.kind = 'comment' %}
            <div class="author-when">
              <span class="author"><img src="{% gravatar_for_user user size=40 %}">{{ c.author.get_full_name }}</span>
              <span class="posted">{{ c.modified|naturaltime }}</span>
            </div>
            <div class="content">
              {{ c.content|urlize|linebreaks }}
            </div>
            {% else %}
            <div class="author-when">
              <span class="author"><img src="{% gravatar_for_user user size=20 %}">{{ c.author.get_full_name }}</span>
              <span class="posted">{{ c.modified|naturaltime }}</span>
            </div>
            <div class="content">
              {{ c.content }}
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <form class="comment-form aform" method="post">
          {% csrf_token %}
          {{ comment_form.as_div }}
          <button class="btn btn-primary">Comment</button>
        </form>
      </div>
    </div>
{% endblock %}