body {
    /*font-size: 1em;*/
    /*font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', FreeSans, sans-serif;*/
    line-height: 1.15em;
    color: #333;
}

a {
    color: #08C;
}
a.novisited:visited {
    color: #08C;
}
.pull-right {
    position: absolute;
    right: 0;
    top: 0;
}
.navbar {
    background: rgb(255, 178, 7);
    padding: 0.3em;
    font-size: 0.9em;
    overflow: hidden;
    position: relative;
}
    .navbar .brand {
        text-decoration: none;
        color: #000;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding: 0 0 0 0.5em;
        vertical-align: middle;
    }
    .navbar .nav li {
        padding: 0.5em 1em;
    }
.icon-carrot-big {
    background: url(../img/carrot_icon.png) no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: bottom;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.15em;
}
h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.15em;
}
.container-fluid {
    margin: 1em 2em;
}
.alert .error {
    width: 40em;
    background: #F66;
    font-weight: bold;
    padding: 0.5em 1em;
    text-align: center;
    margin: 1em auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.tickets {
    width: 90%;
    margin: 1em 0;
}
    .tickets tr.status-in_progress.not-mine {
        color: #CCC;
    }
        .tickets tr.status-in_progress.not-mine a {
            color: #CCC;
        }
    .tickets tr.status-in_progress.mine {
        font-weight: bold;
        font-size: 1.1em;
    }
    .tickets tr.status-fixed {
        color: #CCC;
    }
        .tickets tr.status-fixed a {
            color: #CCC;
        }
    .tickets tr:hover {
        background: #EEE;
        color: #444 !important;
    }
        .tickets tr:hover a {
            color: #08C !important;
        }

    .tickets td {
        padding: 0.5em 1em;
    }

    .tickets td.kind {
        width: 3%;
        min-width: 2em;
        padding-left: 0.5em;
        padding-right: 0;
    }

    .tickets td.number {
        width: 5%;
        min-width: 3em;
    }

    .tickets td.status {
        width: 10%;
        min-width: 5em;
    }

    .tickets td.summary {
        /*width: 60%;*/
        /*min-width: 20em;*/
    }

    .tickets td.estimate {
        width: 5%;
        min-width: 3em;
        text-align: right;
        font-size: 1.1em;
    }

.label.kind_bug  {
    background: #e05b59;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 1px 4px 2px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin: 0.5em 0 0 0;
}

/* From twitter bootstrap http://twitter.github.com/bootstrap */
.dl-horizontal dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding: 0.2em 0;
}
.dl-horizontal dd {
    margin-left: 130px;
    padding: 0.2em 0;
}
.btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn {
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-large [class^="icon-"] {
    margin-top: 2px;
}

.btn-small {
    padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
}

.btn-small [class^="icon-"] {
    margin-top: 0;
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 16px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn-success {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5BB75B;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
    background-image: -webkit-linear-gradient(top, #62C462, #51A351);
    background-image: -o-linear-gradient(top, #62C462, #51A351);
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-image: -moz-linear-gradient(top, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: #51A351 #51A351 #387038;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #DA4F49;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: #BD362F #BD362F #802420;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
    background-color: #942a25 \9;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
    background-color: #408140 \9;
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #003399 \9;
}

/* /Bootstrap */
.aform .row {
    clear: both;
    margin: 0.5em 0;
    min-width: inherit;
}
.aform .row label {
    width: 7em;
    float: left;
    display: block;
    text-align: right;
    padding: 0.4em 1em 0 0;
}
.aform .row input[type="text"], .aform .row select, .aform .row textarea {
    padding: 0.2em 0.3em;
    font-size: 1.05em;
}
.aform h3 {
    font-size: 1.4em;
    padding: 0.5em 0 0 5.7em;
}

.aform .actions {
    margin: 2em 0;
    width: 33em;
    overflow: hidden;
}
.aform .actions .submit_wr {
    padding: 0.5em;
    background: #0F0;
    width: 7em;
    text-align: center;
    float: right;
}
.aform .actions .submit {
}
.aform .actions .cancel_wr {
    float: right;
    padding: 0.5em;
    width: 5em;
    text-align: center;
}
.aform .actions .cancel {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 0.85em;
    color: #F00;
}
.aform .row.invalid input[type="text"], .aform .row.invalid textarea, .aform .row.invalid select {
    background: #FEE;
}
.aform .errorlist .required {
    display: none;
}
.errorlist li {
    background: #FEE;
    padding: 0.5em;
}
.info-block {
}
    .info-block .info {
        clear: both;
    }
    .info-block .btn-edit {
        margin: 0 3em 2em 0;
        float: right;
    }

.ticket h1 {
    margin: 0.7em 0 0 0;
}
.ticket .actions {
    margin: 1.5em 0 2em 0;
}

.comment-form {
    width: 40em;
    overflow: hidden;
    margin: 2em 0 0 0;
}
    .comment-form .f_content label {
        display: none;
    }
    .comment-form .f_content textarea {
        height: 5em;
        width: 97%;
    }
    .comment-form .btn {
        float: right;
    }

.comments {
    clear: both;
}
    .comments li {
        clear: both;
        margin: 2em 0;
    }
    .comments .content {
        clear: both;
        margin: 0.5em 0 0 0;
    }

.author-when {
    color: #999;
    font-size: 0.9em;
}
    .author-when .posted {
        display: block;
    }
    .author-when img {
        border-radius: 5px;
        float: left;
        margin: 0 0.5em 0 0;
    }

.comments li.kind-changes {
    margin: 1em 0 0 10px;
}
    .kind-changes .author-when .posted {
        display: inline-block;
    }
    .kind-changes .author-when .author:after {
        content: ', ';
    }
    .kind-changes .author-when {
        display: inline-block;
    }
    .kind-changes .author-when img {
        opacity: 0.6;
    }
    .kind-changes .content {
        display: inline-block;
        margin: 0 0 0 1em;
        vertical-align: top;
        font-size: 0.9em;
    }

.ticket .images {
    overflow: hidden;
    clear: both;
}
.ticket .files {
    overflow: hidden;
    clear: both;
    margin: 1em 0;
}
.ticket .images .image {
    float: left;
    margin: 1em 1em 1em 0;
    text-align: center;
}
.ticket .files .file {
    margin: 0.7em 0.5em 0 0;
    padding: 0 0.5em 0 0;
    float: left;
    text-align: center;
    width: 150px;
    xborder-right: 2px solid #EEE;
}
.ticket .img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0.3em 0;
}

.login .navbar {
    width: 500px;
    margin: 10% auto 0 auto;
    padding: 10px;
}
    .login .container-fluid {
        margin: 0;
        padding: 0;
    }
    .login .login-form {
        width: 378px;
        margin: 0 auto;
        border: 1px solid #999;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border-top: none;
        padding: 20px 120px 20px 20px;
        text-align: right;
    }
    .login .login-form p {
        margin: 1em 0;
    }

.ticket-form {
    margin: 3em 0 0 3em;
}

.ticket-form h1 {
    margin-bottom: 1em;
}
.ticket-form .buttons {
    margin: 3em 0 3em 8em;
}
.ticket-form .row.f_summary input, .ticket-form .row.f_description textarea {
    width: 600px;
    font-size: 1em;
}

.version-status-block {
    overflow: hidden;
    margin: 1em auto 0 auto;
    /*border: 1px #EEE solid;*/
    /*border-left: none;*/
    /*border-right: none;*/
    padding: 1em 0;
    width: 85%;
}
.version-status-block .time-bar {
    width: 50%;
    float: left;
    background: #EEE;
}
.version-status-block  span {
    float: left;
    clear: both;
    width: 8em;
    text-align: right;
    padding: 0 1em 0 0;
}
.version-status-block .real-time {
    background: #000;
    color: #FFF;
    text-align: center;
}
.version-status-block .tickets-time {
    background: #3F3;
    color: #000;
    text-align: center;
}
.version-status-block .tickets-time.fuckup {
    background: #F33;
}
.version-status-block .work-stat {
    float: right;
    margin: 0 3em 0 0;
    font-size: 1.2em;
}

.body-tickets h2 span {
    font-size: 0.6em;
}
