body {
    /*font-size: 1em;*/
    /*font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', FreeSans, sans-serif;*/
    line-height: 1.15em;
    color: #333;
}

a {
    color: #08C;
}
a.novisited:visited {
    color: #08C;
}
.navbar-inner .pull-right {
    position: absolute;
    right: 0;
    top: 0;
}
.pull-right {
    float: right;
}
.navbar {
    background: rgb(255, 178, 7);
    padding: 0.3em;
    font-size: 0.9em;
    overflow: hidden;
    position: relative;
}
    .navbar .brand {
        float: left;
        text-decoration: none;
        color: #000;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding: 0 5em 0 0.5em;
        vertical-align: middle;
    }
    .navbar .nav li {
        padding: 0.2em 1em 0 1em;
    }
    .navbar .nav.pull-right li {
        padding: 0.5em 1em;
    }
    .navbar .nav {
        float: left;
        color: #000;
    }
.icon-carrot-big {
    background: url(../img/carrot_icon.png) no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: bottom;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.15em;
}
h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.15em;
}
.container-fluid {
    margin: 1em 2em;
}
.alert .error {
    width: 40em;
    background: #F66;
    font-weight: bold;
    padding: 0.5em 1em;
    text-align: center;
    margin: 1em auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.tickets {
    width: 90%;
    margin: 1em 0;
}
    .tickets tr.status-in_progress.not-mine {
        color: #CCC;
    }
        .tickets tr.status-in_progress.not-mine a {
            color: #CCC;
        }
    .tickets tr.status-in_progress.mine, .role-pm .tickets tr.status-in_progress.not-mine{
        background: #9F9;
        color: #000;
    }
        .tickets tr.status-in_progress.mine a, .role-pm .tickets tr.status-in_progress.not-mine a{
            color: #08C;
        }
    .tickets tr {
        color: #CCC;
    }
        .tickets tr {
            color: #CCC;
        }
    .tickets tr.status-open, .tickets tr.status-reopened {
        color: #000;
    }
    .tickets tr:hover {
        background: #EEE !important;
        color: #444 !important;
    }
        .tickets tr:hover a {
            color: #08C !important;
        }

    .tickets td {
        padding: 0.5em 1em;
    }

    .tickets td.kind {
        width: 3%;
        min-width: 2em;
        padding-left: 0.5em;
        padding-right: 0;
    }

    .tickets td.number {
        width: 5%;
        min-width: 3em;
    }

    .tickets td.status {
        width: 10%;
        min-width: 5em;
    }

    .tickets td.summary {
        /*width: 60%;*/
        /*min-width: 20em;*/
    }

    .tickets td.estimate {
        width: 5%;
        min-width: 3em;
        text-align: right;
        font-size: 1.1em;
        white-space: nowrap;
    }
    .tickets td.comments {
        padding: 0;
    }
        .tickets td.comments div {
            background: no-repeat url('../img/comment.png');
            font-size: 13px;
            width: 24px;
            height: 21px;
            text-align: center;
            vertical-align: middle;
            padding: 0;
        }


.label.kind_bug  {
    background: #e05b59;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 1px 4px 2px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    margin: 0.5em 0 0 0;
}

.aform .row {
    clear: both;
    margin: 0.5em 0;
    min-width: inherit;
}
.aform .row label {
    width: 7em;
    float: left;
    display: block;
    text-align: right;
    padding: 0.4em 1em 0 0;
}
.aform .row input[type="text"], .aform .row select, .aform .row textarea {
    padding: 0.2em 0.3em;
    font-size: 1.05em;
}
.aform h3 {
    font-size: 1.4em;
    padding: 0.5em 0 0 5.7em;
}

.aform .actions {
    margin: 2em 0;
    width: 33em;
    overflow: hidden;
}
.aform .actions .submit_wr {
    padding: 0.5em;
    background: #0F0;
    width: 7em;
    text-align: center;
    float: right;
}
.aform .actions .submit {
}
.aform .actions .cancel_wr {
    float: right;
    padding: 0.5em;
    width: 5em;
    text-align: center;
}
.aform .actions .cancel {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 0.85em;
    color: #F00;
}
.aform .row.invalid input[type="text"], .aform .row.invalid textarea, .aform .row.invalid select {
    background: #FEE;
}
.aform .errorlist .required {
    display: none;
}
.errorlist li {
    background: #FEE;
    padding: 0.5em;
}
.info-block {
}
    .info-block .info {
        clear: both;
    }
    .info-block .btn-edit {
        margin: 0 3em 2em 0;
        float: right;
    }

.ticket h1 {
    margin: 0.7em 0 0 0;
}
.ticket .actions {
    margin: 1.5em 0 2em 0;
    width: 60%;
}

.comment-form {
    width: 40em;
    overflow: hidden;
    margin: 2em 0 0 0;
}
    .comment-form .f_content label {
        display: none;
    }
    .comment-form .f_content textarea {
        height: 5em;
        width: 97%;
    }
    .comment-form .btn {
        float: right;
    }

.comments {
    clear: both;
}
    .comments li {
        clear: both;
        margin: 2em 0;
    }
    .comments .content {
        clear: both;
        margin: 0.5em 0 0 0;
    }

.author-when {
    color: #999;
    font-size: 0.9em;
}
    .author-when .posted {
        display: block;
    }
    .author-when img {
        border-radius: 5px;
        float: left;
        margin: 0 0.5em 0 0;
    }

.comments li.kind-changes {
    margin: 1em 0 0 10px;
}
    .kind-changes .author-when .posted {
        display: inline-block;
    }
    .kind-changes .author-when .author:after {
        content: ', ';
    }
    .kind-changes .author-when {
        display: inline-block;
    }
    .kind-changes .author-when img {
        opacity: 0.6;
    }
    .kind-changes .content {
        display: inline-block;
        margin: 0 0 0 1em;
        vertical-align: top;
        font-size: 0.9em;
    }

.ticket .images {
    overflow: hidden;
    clear: both;
}
.ticket .files {
    overflow: hidden;
    clear: both;
    margin: 1em 0;
}
.ticket .images .image {
    float: left;
    margin: 1em 1em 1em 0;
    text-align: center;
}
.ticket .files .file {
    margin: 0.7em 0.5em 0 0;
    padding: 0 0.5em 0 0;
    float: left;
    text-align: center;
    width: 150px;
    xborder-right: 2px solid #EEE;
}
.ticket .img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0.3em 0;
}

.login .navbar {
    width: 500px;
    margin: 10% auto 0 auto;
    padding: 10px;
}
    .login .container-fluid {
        margin: 0;
        padding: 0;
    }
    .login .login-form {
        width: 378px;
        margin: 0 auto;
        border: 1px solid #999;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border-top: none;
        padding: 20px 120px 20px 20px;
        text-align: right;
    }
    .login .login-form p {
        margin: 1em 0;
    }

.ticket-form {
    margin: 3em 0 0 3em;
}

.ticket-form h1 {
    margin-bottom: 1em;
}
.ticket-form .buttons {
    margin: 3em 0 3em 8em;
}
.ticket-form .row.f_summary input, .ticket-form .row.f_description textarea {
    width: 600px;
    font-size: 1em;
}
.ticket-form.new .f_status, .ticket-form.new .f_assignee {
    display: none;
}
.version-status-block {
    overflow: hidden;
    margin: 1em auto 0 auto;
    /*border: 1px #EEE solid;*/
    /*border-left: none;*/
    /*border-right: none;*/
    padding: 1em 0;
    width: 85%;
}
.version-status-block .time-bar {
    width: 50%;
    float: left;
    background: #EEE;
}
.version-status-block  span {
    float: left;
    clear: both;
    width: 8em;
    text-align: right;
    padding: 0 1em 0 0;
}
.version-status-block .real-time {
    background: #000;
    color: #FFF;
    text-align: center;
}
.version-status-block .tickets-time {
    background: #3F3;
    color: #000;
    text-align: center;
}
.version-status-block .tickets-time.fuckup {
    background: #F33;
}
.version-status-block .work-stat {
    float: right;
    margin: 0 3em 0 0;
    font-size: 1.2em;
}

.body-tickets h2 {
    margin: 1em 0 0 0;
}
    .body-tickets h2 span {
        font-size: 0.6em;
    }

.body-tickets h2 {
    clear: both;
}

.body-tickets .projects {
    float: left;
    margin: 2em 0;
}
    .body-tickets .projects li {
        float: left;
        margin: 0 1em 0 0;
    }
    .body-tickets .projects li.active {
        font-size: 2em;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
        .body-tickets .projects li.active a {
            color: #000;
            text-decoration: none;
        }

.timelog-info {
    margin: 2em 0 0 2em;
}
    .timelog-info li {
        margin: 1em 0 0 0;
    }
.timelog-info .interval {
    color: #666;
    font-size: 0.8em;
}