.js_multi_file {
    display: block;
    margin: 1em 0;
}

.ticket h1 {
    margin: 0.7em 0 0 0;
}
.ticket h1 span {
    vertical-align: middle;
}
.ticket .actions {
    margin: 1.5em 0 2em 0;
    width: 60%;
}
.js_ticket .js_href {
    position: absolute;
    left: 0;
    right: 0;
    height: 1.7em;
}


.comment-form {
    width: 40em;
    overflow: hidden;
    margin: 2em 0 0 0;
}
.comment-form .f_content label {
    display: none;
}
.comment-form .f_content textarea {
    height: 5em;
    width: 97%;
}
.comment-form .btn {
    float: right;
}

.comments {
    clear: both;
}
.comments li {
    clear: both;
    margin: 2em 0;
}
.comments .content {
    clear: both;
    margin: 0.5em 0 0 0;
}

.author-when {
    color: #999;
    font-size: 0.9em;
}
.author-when .posted {
    display: block;
}
.author-when img {
    border-radius: 5px;
    float: left;
    margin: 0 0.5em 0 0;
}

.comments li.kind-changes {
    margin: 1em 0 0 10px;
}
.kind-changes .author-when .posted {
    display: inline-block;
}
.kind-changes .author-when .author:after {
    content: ', ';
}
.kind-changes .author-when {
    display: inline-block;
}
.kind-changes .author-when img {
    opacity: 0.6;
}
.kind-changes .content {
    display: inline-block;
    margin: 0 0 0 1em;
    vertical-align: top;
    font-size: 0.9em;
}

.attachments .images {
    overflow: hidden;
    clear: both;
}
.attachments .files {
    overflow: hidden;
    clear: both;
    margin: 1em 0;
}
.attachments li {
    clear: none;
}
.attachments .images .image {
    float: left;
    margin: 1em 1em 1em 0;
    text-align: center;
}
.attachments .files .file {
    margin: 0.7em 0.5em 0 0;
    padding: 0 0.5em 0 0;
    float: left;
    text-align: center;
    width: 150px;
    xborder-right: 2px solid #EEE;
    background: #EEE;
    border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 10px;
    height: 4em;
}
.attachments .img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0.3em 0;
}
