{% extends "carrot/base.html" %}

{% block body %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url carrot_home %}{% if project %}?project_slug={{ project.slug}}{% endif %}"> Carrot Task Tracker</a>
      <ul class="nav">
        <li><a href="{% url carrot_ticket_new %}?1=1{% if project %}&project={{ project.pk }}{% endif %}{% if version %}&version={{ version.pk }}{% endif %}">
          + Ticket
        </a></li>
        {% if user.carrotprofile.role == "pm" %}
        <li><a href="{% url report_week %}">Отчет за неделю</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="pull-right">
        <li class="search"><form action="{% url carrot_search %}"><input name="q" type="text" placeholder="Найти..."></form></li>
        <li>{{ user.get_full_name }}, <a href="{% url carrot_logout %}">выйти</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% if messages %}
<div class="alert">
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}


<div class="container-fluid">
  {% block content %}{% endblock %}
</div>
{% endblock %}