{% extends 'carrot/site_base.html' %}

{% block title %}Dashboard | Carrot Ticket Tracker{% endblock %}
{% block bodyclass %}body-tickets{% if pm %} role-pm{% endif %}{% endblock %}
{% block content %}
<ul class="projects">
{% for p in projects %}
<li{% if p.pk = project.pk %}  class="active"{% endif %}><a href=".?project_slug={{ p.slug }}">{{ p.full_name }}</a></li>
{% endfor %}
</ul>


{% for version in versions %}
    <h2>{{ version.0.name }} <span class="date">до {{version.0.end_date|date:"d.m"}}</span></h2>
    {% if version.2 %}
    <div class="version-status-block">
        <span>Осталось времени:</span>
        <div class="time-bar"><div class="real-time" style="width: {{ version.2.real_percent }}%">
          {{ version.2.real_time_left }} часов</div></div>
        <span>Осталось задач:</span>
        <div class="time-bar"><div class="tickets-time {% if version.2.tickets_percent > version.2.real_percent %}fuckup{% endif %}"
         style="width: {{ version.2.tickets_percent }}%">
          {{ version.2.tickets_time }} часов
        </div></div>
        <div class="work-stat" title="Отработано/Прошло часов">
          {{ version.2.logged_time }} из {{ version.2.real_time_passed }} часов
        </div>
    </div>
    {% endif %}
    <table class="table tickets">
    {% for ticket in version.1 %}
    <tr class="js_ticket status-{{ ticket.status }}
    {% if ticket.assignee %}{% if ticket.assignee.pk = user.pk %} mine{% else %} not-mine{% endif %}{% endif %}
    {% if ticket.is_active %} ticket-active{% endif %}">
      <td class="kind kind_{{ ticket.kind }}">
        {% if ticket.kind == 'bug' %}
        <span class="label kind_{{ ticket.kind }}">bug</span>
        {% endif %}
      </td>
      <td class="js_href number"><a class="novisited" href="{% url carrot_ticket ticket.project.slug ticket.number %}">#{{ ticket.number }}</a></td>
      <td class="status status_{{ ticket.status }}">
        {{ ticket.get_status_display }}
      </td>
      <td class="comments">
        {% with ticket.real_comments.count as commentscount %}
        {% if commentscount%}<div>{{ commentscount }}</div>{% endif %}
        {% endwith %}
      <td class="priority"><span class="{% if ticket.get_priority_display == 'blocker' %}icon-exclamation-sign{% endif %}{% if ticket.get_priority_display == 'minor' %}icon-arrow-down{% endif %}"></span></td>
      <td class="summary">{{ ticket.summary }}</td>
      <td class="estimate">
        {% if ticket.time_spent %}
        <span class="time-spent">{{ ticket.time_spent }}</span>
        {% endif %}
        {% if ticket.time_spent and ticket.estimates.all.0.hours %}
        из
        {% endif %}
        {{ ticket.estimates.all.0.hours }}
      </td>
    </tr>
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}